
* {
    box-sizing: border-box;
}
body {
    background: url("../assets/images/BG@2x.png");
    background-repeat: no-repeat;
    
    background-size: cover 1157px;
    
}
#main-div {
    
    /* display: flex; */
    margin: 5px 200px;
    color: #fff;
    

}

#nav {
    display: flex;
    width: 1110.44px;
    height: 66px;
    border: 1px dotted greenyellow;
    /* align-content: center; --------------------- this does nothing*/
    /* justify-content: center;  */
    
}

#e-learn {
    font-size: 2em;
    margin-right: auto;
}
#log-in {
    margin-left: auto;
}
.nav-item {
    margin: 5px;
}

#nav li {
    /* margin:5px; */
    list-style-type: none;
    border: 1px solid red;
    padding: 5px;  
     
}
#upper-content {
    display: flex;
    
    
}
#main-div-text{
    flex-direction: column;

}
#search-field {
    border-radius: 3px;
}
#search-submit {
    border-radius: 3px;
    
}
/* #name-header {
    margin-left: 200px;
} */



#start-screen-picture {
    position: relative;
    left: 500px;
    max-width: 800px;


}